<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>MycoProject | Home</title>
</head>

<body>
    <div class="main-container">
        <%- include('./partials/nav') %>
            <h1>MycoProject</h1>
            <div class="img-grid">
                <% mushroom.forEach(mushroom=> { %>
                    <div class="img-div">
                        <img class="img-home" src="<%=mushroom.image%>"
                            alt="Close-up image of <%=mushroom.commonName%>">
                        <div class="description-home">
                            <a href="/mushrooms/<%= mushroom._id %>">
                                <%= mushroom.commonName %>
                            </a>
                            <% if(!mushroom.isEdible) { %>
                                <div id="toxic-symbol"><img src="/assets/skull-bones_8078718.png"></div>
                                <% } %>
                        </div>
                    </div>

                    <% }) %>
            </div>

            <%- include('./partials/footer') %>
    </div>
</body>

</html>